/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/var/jwt/*
!app/var/jwt/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
