<!DOCTYPE html>
<html ng-app="demoApp" ng-controller="AppCtrl">
<head>
    <title>AngularJS + Symfony2 API : JWT Authentication Demo</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container" ng-controller="MainCtrl">
        <div class="row" ng-if="pages">
            <div class="col-md-12">
                <h3 class="page-header">
                    Fetched from API
                    <small class="pull-right">logged in as <strong>{{ me.username }}</strong></small>
                </h3>
                <ul >
                    <li ng-repeat="page in pages">
                        {{ page.title }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="login.html">
        <div class="modal-header">
            <h4 class="modal-title">Login required</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form" ng-submit="submit(credentials)">
                <div class="alert alert-danger" ng-if="errorMessage">
                    {{ errorMessage }}
                </div>
                <div>
                    <strong>In memory users :</strong> user / password or admin / password <br />
                    <strong>FOSUser users :</strong> fosuser / password or fosuser@test.tld / password
                    <hr />
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="credentials.username" placeholder="Username" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="submit(credentials)">Login</button>
        </div>
    </script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
    <script src="app.js"></script>
</body>
</html>
